body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.5em 1em;
  background-color: #eee; }
  body .content {
    background-color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px; }
  body h1 {
    font-size: 1.2em;
    font-weight: normal; }
  body p {
    color: #555; }
  body a:link,
  body a:visited,
  body a:active {
    color: #555; }
  body code {
    background-color: #eee;
    font-size: 1.2em;
    color: brown;
    font-family: 'Courier New', Courier, monospace; }
  body .flashcard .category {
    background-color: #eee; }
  body .totalNumber {
    color: brown;
    font-weight: bold; }
  body .flashcardSection .front {
    color: navy;
    font-weight: bold; }
  body .flashcardSection .back {
    color: brown; }
  body .pageComments ul {
    margin: 10px 0 10px -20px; }
