<div class="pageComments">
<div class="formArea">

  <form method="POST" action="/feedback">
    <div class="form-group">
      <label for="usr">Comment:</label>
      <input type="text" class="form-control" name="body">
    </div>
    <div class="form-group">
      <label for="pwd">Name:</label>
      <input type="text" class="form-control" name="author">
    </div>
	<div class="text-right"><button class="btn btn-sm btn-normal">Send</button></div>
  </form>
</div>
<ul>
	<% data.items.forEach(item=> {%>
		<li class="comment"><%=item.author%>: <%=item.body%></li>
	<% });%>
</ul>
</div>