<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title><%=pageTitle%></title>
	<link rel="stylesheet" href="css/main.css">
</head>

<body>
	<h1><%=pageTitle%></h1>
	<ul>
		<% items.forEach(item => {%>
		<li><%=item.front%></li>
		<% });%>
	</ul>
</body>

</html>