<div class="pageHome">
<p>This is the main page.</p>
<hr />
Page rendered at: <%=timeOfPageLoad%>
<hr />
Version: <%=appVersion%>
<hr />
<div class="flashcardSection">
<% mainFlashcards.forEach( flashcard => { %>
	<div><span class="front"><%=flashcard.front%></span> <span class="back">(<%=flashcard.back%>)</span></div>
<% }) %>
</div>
<hr />
<img src="/images/codeSquare.png" alt="code square"/>

<hr/>
<button class="btn btn-normal btn-sm" onclick="loadComments()">Load comments</button>
<div id="commentArea"></div>
<hr/>
</div>

<script>
function loadComments() {
	fetch('http://localhost:3001/api/comments')
	.then(res => res.json())
	.then(comments => {
		const divCommentArea = document.getElementById('commentArea');
		const ul = document.createElement('ul');
		comments.forEach(comment => {
			const li = document.createElement('li');
			li.appendChild(document.createTextNode(`${comment.author}: ${comment.body}`));
			ul.appendChild(li);
		});
		divCommentArea.appendChild(ul);	
	});
}
</script>