<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title><%=pageTitle%></title>
</head>

<body>
	<h1><%=pageTitle%></h1>
	<p>Info page, go to the <a href="/">main page</a>.</p>
	<p>Second line.</p>
	<p>Display unrendered HTML: [<%=htmlText%>]</p>
	<p>Display rendered HTML: [<%-htmlText%>]</p>
</body>

</html>