<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>
		<%=pageTitle%>
	</title>
	<% if(pageIdCode === 'flashcard'){ %>
		<link rel="stylesheet" href="../css/main.css">
	<% } else{ %>  
		<link rel="stylesheet" href="./css/main.css">
	<% } %>
</head>

<body>
	<h1>
		<%=pageTitle%>
	</h1>
	Menu: <a href="/">home</a> | <a href="/info">info</a> | <a href="/flashcards">flashcards</a>
	<div class="content">
		<%- include(`../pages/${pageIdCode}`)
			%>
	</div>
</body>

</html>